body {
    font-size: 18px;
  }
  
  p{
    text-indent: 40px;
    color: green;
  }
  
  h3{
    color: red; 
  }
  .attr {
    font-size: 22px;
    color: red;
  }
    table {
      border: 1px solid #000;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 6px 15px;
    }
  